 body { 
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
} 
*{
    
    /* box-sizing: inherit; */
    margin: 0;
    padding: 0;
    font-family: Verdana,sans-serif;
    line-height: 1.5;
} 

.img1{
    width: 100%;
}

 


.min{
    color: rgb(231, 218, 218);
    background-color: rgb(3, 3, 3);
    font-size: 50px;
    font-weight: bolder;
    /* border-radius: 25%; */
    opacity: 0.75;
    padding: 8px 
 }

 
.centeer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.grey{
    color: rgba(10, 6, 46, 0.479);
}



.w3-padding{
    padding: 8px 16px;
    margin-left: auto;
    margin-right: auto;
    
}


.projects{
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: 25px;
}

.Projects2{
    border-bottom: 1px solid rgb(141, 133, 133);
    padding-top: 16px!important;
    padding-bottom: 27px!important;
    text-shadow: 1px 1px 2px rgb(252, 249, 249), 0 0 25px blue, 0 0 5px rgb(132, 132, 153);
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 500px;
    margin: 10px 0;
    font-size: 35px;
}
.padding3{
    float: left;
    width: 100%;
    padding: 0 8px;
    margin-bottom: 16px;
    
    
}
.bottom{
    position: relative;
    padding: 0px 9px;
}

.wpadding{
    color: #fff;
    background-color: #000;
    padding: 8px 16px;
    position: absolute;
    bottom: 0;
    width: 94%;
    text-align: center;
    opacity: 0.75;
}

.oneone{
    display: flex;
    margin: 9px;
    margin-bottom: 25px;
    
}

.twoone{
    display: flex;
    margin: 9px;
}
.About1{
    text-shadow: 1px 1px 2px rgb(252, 249, 249), 0 0 25px blue, 0 0 5px rgb(132, 132, 153);
    margin-left: 40px;
    margin-top: 50px;
    font-size: 40px;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(128, 123, 123);
    padding-bottom: 20px;
    margin-right: 35px;

}
.poor{
    text-indent: 25px;
    margin-left: 55px;
    margin-top: 40px;
    font-size: 30px;
    color: rgb(30, 36, 53);
    font-weight:lighter;
}




.momo{
    background-color: black;
    margin-top: 9px;
    text-align: center;
    padding: 30px;
    color: white;
}









/* body {
    /* padding: 25px; 
    background-color: white;
    color: black;
    font-size: 20px;
} */
  
/* .dark {
    background-color: rgb(0, 0, 0);
    color: white;
}  */





